<div class="row">

  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <div class="page-header">
      <h3>Sign up</h3>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          formControlName="email"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
           id="password"
           name="password"
           formControlName="password"
           class="form-control">
      </div>

      <div class="form-group">
        <div class="signup-centered">
          <button type="submit"
            class="btn btn-primary">Sign up</button>
          <button type="button"
            class="btn btn-danger"
            (click)="onReset()">Reset</button>
        </div>
      </div>

    </form>

  </div>

</div>
