<div class="row">
  <div class="col-xs-12">
    <h3>{{ editMode ? 'Edit' : 'New' }} Recipe</h3>
  </div>
</div>

<!--<div class="row"-->
  <!--[class]="editMode ? 'image-path-visible' : ''">-->
  <!--<div class="col-xs-12 form-group">-->
    <!--<img-->
        <!--class="img-responsive img-recipe-edit"-->
        <!--[src]="currentRecipe.imagePath"-->
         <!--alt="{{currentRecipe.name}}" />-->
  <!--</div>-->
<!--</div>-->

<div class="row">

    <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">

      <div class="form-group col-xs-12">
        <img [src]="imagePath.value" class="img-responsive" >
      </div>

      <div class="form-group col-xs-12">
        <label for="recipeName">Name</label>
        <input type='text'
               id='recipeName'
               class="form-control"
               name="recipeName"
               formControlName="recipeName"
               placeholder="Recipe name"
               required>
      </div>

      <div class="form-group col-xs-12">
        <label for="imagePath">Image Path</label>
        <input type='text'
          id="imagePath"
          name="imagePath"
          formControlName="imagePath"
          class="form-control"
          placeholder="Image URL"
          required
          #imagePath>
      </div>

      <div class="form-group col-xs-12">
        <label for="recipeDescription">Description</label>
        <textarea
          rows="6"
          id="recipeDescription"
          name="recipeDescription"
          formControlName="recipeDescription"
          class="form-control"
          placeholder="About this recipe..."
          required></textarea>
      </div>

      <div class="col-xs-12">
        <h4>Ingredients</h4>
      </div>

      <div class="" formArrayName="ingredients" *ngFor="let ing of recipeEditForm.get('ingredients').controls; let i = index">
        <div [formGroupName]="i">

          <div class="col-xs-8 form-group">
            <input type="text"
                class="form-control"
                formControlName="name">
          </div>

          <div class="col-xs-3 form-group">
            <input type="number"
                class="form-control"
                formControlName="amount">
          </div>

          <div class="col-xs-1 form-group">
            <button type="button"
                    class="btn btn-danger"
              (click)="onDeleteIngredient(i)">x</button>
          </div>

        </div>
      </div>

      <div class="form-group col-xs-12">
        <button type='submit'
                [disabled]="!recipeEditForm.valid"
                class="btn btn-success">Save</button>

        <button type="button"
            class="btn btn-default"
            (click)="onAddIngredient()">Add Ingredient</button>

        <button type="button"
                class="btn btn-danger"
                (click)="onCancel()">Cancel</button>
      </div>

    </form>


</div>
